openapi: 3.0.4
info:
  title: Gravatar Lookup
  description: >-
    Gravatar Lookup is a simple tool for looking up Gravatar profiles. It
    returns the Gravatar profile information of the email address provided.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/gravatarlookup:
    get:
      summary: Lookup Gravatar Profile
      description: Lookup the Gravatar profile of an email address
      operationId: gravatarlookup
      parameters:
        - name: email
          in: query
          schema:
            type: string
          required: true
          description: The email address to lookup the Gravatar profile of
          example: hello@apiverve.com
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  profileUrl: https://gravatar.com/apiverve
                  thumbnailUrl: >-
                    https://0.gravatar.com/avatar/08ccd5c0bdd88b0ac13f776a4f7914db
                  photos:
                    - value: >-
                        https://0.gravatar.com/avatar/08ccd5c0bdd88b0ac13f776a4f7914db
                      type: thumbnail
                  displayName: APIVerve
                  aboutMe: >-
                    APIVerve stands out as a premier source for cloud-based API
                    and Software-as-a-Service (SaaS) solutions catering to
                    developers, startups and products.
                  currentLocation: United States
                  company: APIVerve
                  contactInfo:
                    - type: contactform
                      value: apiverve.com/contact
                  accounts:
                    - domain: x.com
                      display: '@apivervehq'
                      url: https://x.com/apivervehq
                      verified: true
                      name: X
                    - domain: github.com
                      display: apivervehq
                      url: https://github.com/apivervehq
                      verified: true
                      name: GitHub
                    - domain: calendly.com
                      display: apiverve
                      url: https://calendly.com/apiverve
                      verified: true
                      name: Calendly
                  username: apiverve
                  accountCount: 3
                  verifiedAccountCount: 3
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
